body {
font: helvetica;
text-align: center;
}

.error input {
    border: 1px solid red;
}

.ok input {
    border: 1px solid green;
}

.hidden {
    display:none;
}

.error .hidden {
    display: block;
}
