body {
font: helvetica;
text-align: center;
}

.error input {
    border: 1px solid red;
}

.ok input {
    border: 1px solid rgb(14, 172, 14);
}

.hidden {
    display:none;
}

.error .hidden {
    display: block;
}

/*teste*/